local-hostname: ${hostname}
instance-id: ${hostname}
network:
  version: 2
  ethernets:
    ens192:
    %{~ if ipA == "dhcp"  ~}
      dhcp4: true
    %{~ else ~}
      dhcp4: false
      addresses:
        - ${ipA} #Set you ip here
      gateway4: ${gw} # Set gw here 
      nameservers:
        addresses: [%{ for addr in dns ~}${addr},%{ endfor }]
    %{~ endif ~}
cleanup-guestinfo:
- userdata
- vendordata
