local-hostname: ${hostname}
instance-id: ${hostname}
network:
  version: 2
  ethernets:
    ens192:
      dhcp4: false
      addresses:
        - ${ipA} #Set you ip here
      nameservers:
        addresses: [%{ for addr in dns ~}${addr},%{ endfor }]
    ens224:
      dhcp4: false
      addresses:
        - ${ipB} #Set you ip here
      gateway4: ${gw} # Set gw here 
cleanup-guestinfo:
- userdata
- vendordata
